<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>課程查尋</title>
</head>
<body>
    <h2>選修課程查詢</h2>
    <form action="#" method="post">
        請輸入您要查詢的課程關鍵字：
        <input type="text" name="keyword" value="入門">
        <br>
        請輸入您要查詢的教師關鍵字：
        <input type="text" name="tcname" value="心如">
        <br><br>
        <input type="submit" value="確定送出">
    </form>
</body>
</html>